@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400;600;700;800&display=swap");
/* CSS RESETS */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}
img {
  max-width: 100%;
}
/* CSS RESETS */
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* GENERAL FONTS */
.font-monserat {
  font-family: "Montserrat", sans-serif;
}
.font-mulish {
  font-family: "Mulish", sans-serif;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
/* GENERAL FONTS */
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* GENERAL STYLES */
.bg-black {
  background-color: #000000;
}
.bg-orange {
  background-color: #fbb13c;
}
.bg-purple {
  background-color: #b8b0da;
}
.color-grey {
  color: #919190;
}
.color-red {
  color: #fb5e3c;
}
/* GENERAL STYLES */
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* BLACK HEADER */
.black-header input {
  border-radius: 8px;
  border: 2px solid white;
  color: white;
}
.black-header input::placeholder {
  color: white;
}
.black-header input:focus {
  outline: none;
}
.black-header h5 {
  font-weight: bolder;
}
/* BLACK HEADER */
