@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish:wght@400;600;700;800&display=swap");
/* GENERAL STYLES */
.font-monserat {
  font-family: "Montserrat", sans-serif;
}
.font-mulish {
  font-family: "Mulish", sans-serif;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
/* GENERAL STYLES */
